<h1 mat-dialog-title> Add Quote Form </h1>
<div mat-dialog-content>
    <mat-form-field appearance="outline">
    <mat-label>first Name</mat-label>
    <input matInput placeholder="Full Name">
    </mat-form-field>
    <mat-form-field appearance="outline">
    <mat-label>Second Name</mat-label>
    <input matInput placeholder="Second Name">
    </mat-form-field>
    
    
     <mat-form-field appearance="outline">
    <mat-label>Quote </mat-label>
    <input matInput placeholder="Your Qoute">
    
    

    
    

     
    <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
    <mat-hint>Hint</mat-hint>
  </mat-form-field>
</div>