<h1 mat-dialog-title> Add Quote Form </h1>
<div mat-dialog-content>
 <form [formGroup]= "productForm">
    <mat-form-field appearance="outline">
    <mat-label>first Name</mat-label>
    <input formControlName="First Name" matInput placeholder="Full Name">
    </mat-form-field>
    <mat-form-field appearance="outline">
    <mat-label formControlName="Second Name">Second Name</mat-label>
    <input matInput placeholder="Second Name">
    </mat-form-field>
    
    
     <mat-form-field appearance="outline">
    <mat-label>Quote </mat-label>
    <input formControlName="Qoute"matInput placeholder="Your Qoute">
     </mat-form-field>
   
    




    
    

    
    

     
    <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
    <mat-hint>Hint</mat-hint>
 
   </form>
</div>
<div mat-dialog-action [align]="' end'">
<button mat-raised-button color="warn" matDialogClose="">close</button>
<button style="margin-left: 8px;" mat-raised-button color="primary"(click)= "addQoute()">save</button>
</div>